{
  "presets": [
    "@babel/preset-env", /* convert js flavor */
    "@babel/preset-typescript", /* typescript support */
    ["@babel/preset-react", { "runtime": "automatic" }] /* jsx transform */
  ]
}
